.body
{
    margin: 0;
    padding: 0;
    
}
#topheader
{
    width: 100% !important;
}
.navclr {
    background-color: #EA1826 !important;
    position: fixed !important;
    top:0 !important;
    right: 0;
    left: 0;
    z-index: 1030;
}
.tcont
{
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.top1clr
{
    background-color: #fff !important;
    position: fixed !important;
    top:3rem !important;
    right: 0;
    left: 0;
    z-index: 1030;
}
.lg {
  color: #fff !important;
  font-size: 1.2rem !important;
}
.lg:hover{
    transition-delay: 1ms !important;
    color: black !important;
}
.img
{
    max-width: 209%;
    height: 4rem;
    margin-left: 2rem
}
.cont
{
    margin-left: 20rem !important;
}
.tpconts{
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    color:#102039 !important;
}

.tpconts:hover{
    color: #EA1826 !important;
}
.clr {
    color: #fff !important;
}
.cin
{
    margin-top: 12rem;
    margin-right: 27rem;
}
.photo img
{
 opacity: 0.5 !important;
 filter:brightness(50%);
}
.centerbg::after
{
    content: "";
    position: absolute;
    top: 0 !important;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 2, 10, 0.459);
}
.text-star
{
    padding-right: 20rem !important;
}
.centcont
{
    font-family: 'Poppins', sans-serif;
    margin-left: -16rem
}
.cent1{
    font-size: 5rem;
    line-height: 5rem;
    font-family: 'Poppins', sans-serif;
    margin-left: -16rem
}
.clients img
{
    width: 60px;
    height: 60px;
    border-radius: 500px;
    display: inline-block;
    margin-right: -30px;
   opacity: 0.9 !important;
} 
.cl{
    margin-left: 6rem;
    margin-top: -12rem;
}
.clc 
{
    font-family: 'Poppins', sans-serif; 
    color: #102039;
    font-weight: 600;
    display: inline;
    overflow: hidden;
}
.label {
    height: 3rem !important;
    width: 7rem !important;
    margin-left: 3rem !important;
}
.rnd
{
    height: 5px;
    width: 5px;
    border-radius: 1px;
    border: 2px solid gray;
    margin-top: 10px;
    padding: 9px;
}
.rnd1
{
    height: 5px;
    width: 5px;
    border-radius: 1px;
    border: 2px solid white;
    background-color: white !important;
    margin-top: 10px;
    padding: 9px;
}
.c2 {
    margin-left: 76rem;
    margin-top: -11rem;
    width: 50px;
}
.c3{
    margin-top: 13rem;
    margin-left: 27rem;
    
}
.back {
    background-color: #102039 !important;
    transition: 1s;
}
.back:hover{
 
    background-color: #EA1826 !important;
}
.tag
{
    color: #fff !important;
    font-family: 'Playfair Display', serif;
    font-size: medium;
}
.built
{
    font-size: 5rem;
    padding-left: 4px;
   
}
.crtxt{
    color: #787878;
    word-spacing: 1.5px;
    font-family: 'Poppins', sans-serif; 
    font-size: 1.1rem;
}
.crt1
{
    color: #102039 !important;
    text-decoration: none !important;
    font-family: 'Poppins', sans-serif; 
    font-size: medium;
}
.crt1:hover{
    color: #EA1826 !important;
}
#service-since {
    margin-top: 10rem;
    margin-right: 5rem;
}
.sscont {
    margin-left: 18rem;
}
.csiz{

    position: absolute;
    left: 37rem;
}
.cb1 {
    width: 47rem;
    height: 38rem
}
.ssc1 {
    font-family: 'Playfair Display', serif;
    color: #102039;
    font-weight: bolder;
    font-size: 48px;
}
.ssc2 {
    color: #787878;
    word-spacing: 1.5px;
    font-family: 'Poppins', sans-serif; 
    font-size: 1.1rem;
}
.sslg
{
    font-size: xxx-large;
    color: #EA1826 !important;
    padding-left: 16rem;
}

.lgcnt{
 
    color: #102039;
    font-family: 'Poppins', sans-serif; 
   font-weight: 600;
   padding-left: 10rem;
}
.imgrnd {
    height: 70px;
    width: 70px;
    border: 1px solid grey;
    border-radius: 6rem
}
.imgcnt {
    color: #102039;
    font-family: 'Poppins', sans-serif; 
   font-size: larger;  
   padding-top: 8px;
}

.sigpad {
    padding-left: 5rem !important;
}
#Workers {
    padding-top:6rem !important;
}
.wh {
    color: #102039;
    font-family: 'Poppins', sans-serif; 
   font-weight: 600;  
   font-size: 40px;
}
.wc {
    color: #787878;
    word-spacing: 1.5px;
    font-family: 'Poppins', sans-serif; 
    font-size: 1.1rem;
}
.wcrd
{
    border: 0px ;
    border: 0px;
    padding-left: 7rem;
}
.ct{
    color: #102039;
    font-family: 'Poppins', sans-serif; 
    font-weight: 600;
}
.csp{
    color: #787878;
    font-family: 'Poppins', sans-serif; 
    font-size: 1.1rem;
    font-weight: 500;
}
#bottom{

    background-color: #102039;
    height: 39rem;  
    width: 100%;
}
.news {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    
}
.rw {
    padding-top: 4rem !important;
}
.fm {
    font-family: 'Poppins', sans-serif; 
}
.but{
    background-color: #EA1826;
    color: #fff !important;
    font-weight: bolder;
}
.line{
height: 0.1px !important;
opacity: 0.6 !important;
width: 70rem ;
background: white;
}
.footlogo {
    height: 55px;
    width: 160px;
}
.footcont
{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    line-height: 26px;
    font-size: larger;
}
.fotcont1{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.latimg {
    height: 75px;
    width: 75px;
    border: 0px;
    border-radius: 40px
}
.ftrnd{
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.small {
    position: relative;
    bottom: 10rem;
    left: 5rem;
}
.listser{
    padding-left: 1rem;
    padding-top: 13px;
    list-style-type: none;
}
.liitems{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 1rem;
    font-weight: bolder !important;
}
.end{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: large;
}
.endrow {
    padding-top: 2rem;
}
/* Media Query /////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@media(max-width:768px){
.navclr
{
display: none !important;
}
 .cont
{
    margin-left: -2.4rem !important;
    margin-top: 0rem !important;
    display: inline-block;
    padding: 4rem;
}
.img{
    max-width: 100%;
    height: 3rem;
}
.top1clr
{
    background-color: #fff !important;
    position: fixed !important;
    top:0rem !important;
    right: 0;
    left: 0;
    z-index: 1030;
}
#center
{
    padding-top: 2rem;
}
.cin{
    margin-top: 0rem;
    margin-right: 0rem
}
.image
{
height: 20rem !important;
}
.photo {
    height: 33rem
}

.cent1{
    font-size: xx-large;
    font-family: 'Poppins', sans-serif;
    display: inline;
    margin-left: -7rem;
    padding: 5rem 7rem;
    line-height: 1.8rem;

}
.centcont
{
    margin-top: 4rem;
    margin-left: -1rem;
    font-size: 1.2rem
}
.cl{
    margin: -11rem 3rem
}
.clients img {
    width: 50px;
    height: 50px;
    border-radius: 500px;
    display: inline-block;
    margin-right: -30px;
    opacity: 0.9 !important;
}
.c2{
    margin: 0px;
    margin-top: -11rem;
    margin-left: 19rem;
}
.c3{
    margin-top: 20rem;
    margin-left: 0rem;
}
.crtxt, .cr{
    text-align: center;
}
.built, .tag
{  
    padding-left: 6.9rem !important;
}


#service-since {
    margin-top: 10rem;
    margin-right: 5rem;
}
.sscont {
    margin-left: 0rem;
}
.csiz{
    position: absolute;
    left: -4rem;
    top: 39rem;
    
}
.cb1 {
    width: 25rem;
    height: 32rem;
}
.phimg {
    width: 100% !important;

}
.ssc1 {
    text-align: center;
    font-size: x-large;
    padding-left: 3rem;
}
.ssc2 {
    text-align: center;
    padding-left: 3rem;

}
.sslg {
    font-size: xxx-large;
    color: #EA1826 !important;
    padding-left: 11rem;
}
.lgcnt {
    color: #102039;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding-left: 5rem;
}
.cen{
 text-align: center;
}
.cp {
    padding-left: 3rem
}
.cen1 {
    padding-top: 2rem;
    padding-right: 3rem;
}
#Workers {
    padding-top: 55rem !important;
}
.wcrd {
    border: 0px;
    border: 0px;
    padding-left: 1rem;
}
.line{
    height: 0.1px !important;
    opacity: 0.6 !important;
    width: 21rem ;
    background: white;
    }
.fotcont1, .ftround1, .ftround2{
 text-align: center;
    }
    .fotcont1{
        margin-top: 2rem;
    }
    #bottom{
        background-color: #102039;
        width: 100%;
        height: 76rem;
    }
    .listser{
        padding-left: 1rem;
        padding-top: 13px;
        list-style-type: none;
        text-align: center;
    }
    .own {
        margin-left: 33px;
    }
}
